.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: rebeccapurple;
  border-radius: 5px;
  height: 600px;
  width: 30%;
  margin: 5%;
  
}

.display {
  background-color: aqua;
  position: relative;
  border-radius: 5px;
  top: 1%;
  height: 20%;
  margin: 10px;
  
}

h1{
  float: right;
  margin: 10px;
  font-family: monospace;
  font-size: 50px;
}

.buttonArray{
  position: relative;
  height: 60%;
  top: 2%;
  margin: 10px;
}

.clicks{
  border-radius: 5px;
  width: 24%;
  height: 100px;
  margin: 1px;
  font-weight: bold;
  cursor: pointer;
}

.clicks:hover{
  background-color: #ffbb33;
}