@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Roboto&display=swap");

.App {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: purple;
  border-radius: 5px;
  height: 600px;
  width: 30%;
  margin: 5%;
  border: 2px solid black;
  box-shadow: 3px 6px 6px;
}

.display {
  background-color: #006600;
  position: relative;
  border-radius: 5px;
  top: 1%;
  height: 20%;
  margin: 10px;
  border: 2px solid black;
  box-shadow: 3px 6px 6px;
}

h1{
  float: right;
  margin: 10px;
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
}

.buttonArray{
  position: relative;
  height: 60%;
  top: 2%;
  margin: 10px;
  
}

.clicks{
  background-color: orange;
  border-radius: 5px;
  width: 24%;
  height: 100px;
  margin: 1px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  font-family: "Orbitron", sans-serif;
  box-shadow: 3px 6px 6px;
}

.clicks:hover{
  background-color: #ffbb33;
}